<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.testfood" >

        <!-- required permission  -->
        <uses-permission android:name="android.permission.INTERNET"/>
        <!-- optional permission, highly recommended -->
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <!-- optional permission -->
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/test_food_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".IngredientsSearch"
            android:label="@string/title_activity_ingredients_search" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SearchResults"
            android:label="@string/title_activity_search_results" >
        </activity>

        <activity
            android:name=".Favourites"
            android:label="@string/title_activity_favourites" >
        </activity>

        <activity
            android:name=".recipeDetails"
            android:label="@string/title_activity_recipe_details" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
